@page "/counter"

<PageTitle>Squats</PageTitle>
<h3>Squat-o-matic</h3>
<p role="status">Current count: @currentCount</p>
<div>
    <canvas data-type="linear-gauge"
    data-width="120"
    data-height="300"
    data-min-value="0"
    data-max-value="100"
    data-major-ticks="0,10,20,30,40,50,60,70,80,90,100"
    data-minor-ticks="1"
    data-stroke-ticks="true"
    data-highlights='[ {"from": 0, "to": 100, "color": "rgba(200, 50, 50, .75)"} ]'
    data-color-plate="#fff"
    data-border-shadow-width="0"
    data-borders="false"
    data-needle-type="arrow"
    data-needle-width="2"
    data-animation-duration="10"
    data-animation-rule="linear"
    data-tick-side="left"
    data-number-side="left"
    data-needle-side="left"
    data-bar-stroke-width="7"
    data-bar-begin-circle="false"
    data-value="@currentCount"
    data-value-box="false"
></canvas>
</div>
<button style="touch-action: manipulation;" class="round" @onclick="IncrementCount">Squat</button>


@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
