@page "/"

<PageTitle>Home</PageTitle>

<h1>Welcome to Mutagenic Inc.</h1>

Because we live in an ever changing world. Bought to you by Warnes Consulting Ltd

<SurveyPrompt Title="How is Blazor working for you?" />
